In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data/src/sample.xlsx')

In [3]:
print(df)

        A   B   C
one    11  12  13
two    21  22  23
three  31  32  33

In [4]:
df_sheet_index = pd.read_excel('data/src/sample.xlsx', sheet_name=1)

In [5]:
print(df_sheet_index)

       AA  BB  CC
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [6]:
df_sheet_name = pd.read_excel('data/src/sample.xlsx', sheet_name='sheet2')

In [7]:
print(df_sheet_name)

       AA  BB  CC
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [8]:
df_sheet_multi = pd.read_excel('data/src/sample.xlsx', sheet_name=[0, 'sheet2'])

In [9]:
print(df_sheet_multi)

OrderedDict([(0,         A   B   C
one    11  12  13
two    21  22  23
three  31  32  33), ('sheet2',        AA  BB  CC
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33)])

In [10]:
print(type(df_sheet_multi))

<class 'collections.OrderedDict'>

In [11]:
print(len(df_sheet_multi))

2

In [12]:
print(df_sheet_multi[0])

        A   B   C
one    11  12  13
two    21  22  23
three  31  32  33

In [13]:
print(type(df_sheet_multi[0]))

<class 'pandas.core.frame.DataFrame'>

In [14]:
print(df_sheet_multi['sheet2'])

       AA  BB  CC
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [15]:
print(type(df_sheet_multi['sheet2']))

<class 'pandas.core.frame.DataFrame'>

In [16]:
df_sheet_all = pd.read_excel('data/src/sample.xlsx', sheet_name=None)

In [17]:
print(df_sheet_all)

OrderedDict([('sheet1',         A   B   C
one    11  12  13
two    21  22  23
three  31  32  33), ('sheet2',        AA  BB  CC
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33)])

In [18]:
print(type(df_sheet_all))

<class 'collections.OrderedDict'>

In [19]:
print(df_sheet_all['sheet1'])

        A   B   C
one    11  12  13
two    21  22  23
three  31  32  33

In [20]:
print(type(df_sheet_all['sheet1']))

<class 'pandas.core.frame.DataFrame'>

In [21]:
print(df_sheet_all['sheet2'])

       AA  BB  CC
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [22]:
print(type(df_sheet_all['sheet2']))

<class 'pandas.core.frame.DataFrame'>

In [23]:
df_header_index = pd.read_excel('data/src/sample.xlsx', header=None, index_col=None)

In [24]:
print(df_header_index)

       0   1   2   3
0    NaN   A   B   C
1    one  11  12  13
2    two  21  22  23
3  three  31  32  33

In [25]:
print(df_header_index.columns)

Int64Index([0, 1, 2, 3], dtype='int64')

In [26]:
print(df_header_index.index)

RangeIndex(start=0, stop=4, step=1)

In [27]:
df_default = pd.read_excel('data/src/sample.xlsx', index_col=None)

In [28]:
print(df_default)

        A   B   C
one    11  12  13
two    21  22  23
three  31  32  33

In [29]:
print(df_default.columns)

Index(['A', 'B', 'C'], dtype='object')

In [30]:
print(df_default.index)

Index(['one', 'two', 'three'], dtype='object')

In [31]:
print(pd.read_excel('data/src/sample.xlsx', index_col=0))

        A   B   C
one    11  12  13
two    21  22  23
three  31  32  33

In [32]:
df_use_skip = pd.read_excel('data/src/sample.xlsx', usecols=[0, 1, 3], skiprows=[1], skipfooter=1)

In [33]:
print(df_use_skip)

      A   C
two  21  23