In [1]:
import pandas as pd

In [2]:
l = [{'name': 'Alice', 'age': 25, 'id': {'x': 2, 'y': 8}},
     {'name': 'Bob', 'id': {'x': 10, 'y': 4}}]

In [3]:
df = pd.io.json.json_normalize(l)

In [4]:
print(df)

    age  id.x  id.y   name
0  25.0     2     8  Alice
1   NaN    10     4    Bob

In [5]:
df_sep = pd.io.json.json_normalize(l, sep='-')

In [6]:
print(df_sep)

    age  id-x  id-y   name
0  25.0     2     8  Alice
1   NaN    10     4    Bob