In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A': [11, 21, 31],
                   'B': [12, 22, 32],
                   'C': [13, 23, 33]},
                  index=['ONE', 'TWO', 'THREE'])

In [3]:
print(df)

        A   B   C
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [4]:
df_new = df.rename(columns={'A': 'a'}, index={'ONE': 'one'})

In [5]:
print(df)

        A   B   C
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [6]:
print(df_new)

        a   B   C
one    11  12  13
TWO    21  22  23
THREE  31  32  33

In [7]:
df_new_multi = df.rename(columns={'A': 'a', 'C': 'c'})

In [8]:
print(df_new_multi)

        a   B   c
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [9]:
df_new = df.rename(columns={'A': 'a'}, index={'ONE': 'one'}, inplace=True)

In [10]:
print(df)

        a   B   C
one    11  12  13
TWO    21  22  23
THREE  31  32  33

In [11]:
print(df_new)

None

In [12]:
df_new = df.rename(columns=lambda s: s.upper(), index=lambda s: s.lower())

In [13]:
print(df_new)

        A   B   C
one    11  12  13
two    21  22  23
three  31  32  33

In [14]:
df_new = df_new.rename(columns=lambda s: s*3, index=lambda s: s + '!!')

In [15]:
print(df_new)

         AAA  BBB  CCC
one!!     11   12   13
two!!     21   22   23
three!!   31   32   33

In [16]:
df.index = [1, 2, 3]
df.columns = ['a', 'b', 'c']

In [17]:
print(df)

    a   b   c
1  11  12  13
2  21  22  23
3  31  32  33