In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('http://www.soumu.go.jp/main_content/000442937.xls', dtype=object)

In [3]:
print(df.head())

    団体コード 都道府県名\n（漢字） 市区町村名\n（漢字） 都道府県名\n（カナ） 市区町村名\n（カナ）
0  010006         北海道         NaN     ﾎｯｶｲﾄﾞｳ         NaN
1  011002         北海道         札幌市     ﾎｯｶｲﾄﾞｳ      ｻｯﾎﾟﾛｼ
2  012025         北海道         函館市     ﾎｯｶｲﾄﾞｳ      ﾊｺﾀﾞﾃｼ
3  012033         北海道         小樽市     ﾎｯｶｲﾄﾞｳ        ｵﾀﾙｼ
4  012041         北海道         旭川市     ﾎｯｶｲﾄﾞｳ      ｱｻﾋｶﾜｼ

In [4]:
print(df.shape)

(1788, 5)

In [5]:
df.columns = [v.replace('\n', '') for v in df.columns.values]

In [6]:
print(df.head())

    団体コード 都道府県名（漢字） 市区町村名（漢字） 都道府県名（カナ） 市区町村名（カナ）
0  010006       北海道       NaN   ﾎｯｶｲﾄﾞｳ       NaN
1  011002       北海道       札幌市   ﾎｯｶｲﾄﾞｳ    ｻｯﾎﾟﾛｼ
2  012025       北海道       函館市   ﾎｯｶｲﾄﾞｳ    ﾊｺﾀﾞﾃｼ
3  012033       北海道       小樽市   ﾎｯｶｲﾄﾞｳ      ｵﾀﾙｼ
4  012041       北海道       旭川市   ﾎｯｶｲﾄﾞｳ    ｱｻﾋｶﾜｼ

In [7]:
df['code_2'] = df['団体コード'].str[:2]
df['code_5'] = df['団体コード'].str[:-1]

In [8]:
print(df.head())

    団体コード 都道府県名（漢字） 市区町村名（漢字） 都道府県名（カナ） 市区町村名（カナ） code_2 code_5
0  010006       北海道       NaN   ﾎｯｶｲﾄﾞｳ       NaN     01  01000
1  011002       北海道       札幌市   ﾎｯｶｲﾄﾞｳ    ｻｯﾎﾟﾛｼ     01  01100
2  012025       北海道       函館市   ﾎｯｶｲﾄﾞｳ    ﾊｺﾀﾞﾃｼ     01  01202
3  012033       北海道       小樽市   ﾎｯｶｲﾄﾞｳ      ｵﾀﾙｼ     01  01203
4  012041       北海道       旭川市   ﾎｯｶｲﾄﾞｳ    ｱｻﾋｶﾜｼ     01  01204

In [9]:
df_pref = df[df['市区町村名（漢字）'].isnull()]

In [10]:
print(df_pref.head())

      団体コード 都道府県名（漢字） 市区町村名（漢字） 都道府県名（カナ） 市区町村名（カナ） code_2 code_5
0    010006       北海道       NaN   ﾎｯｶｲﾄﾞｳ       NaN     01  01000
180  020001       青森県       NaN    ｱｵﾓﾘｹﾝ       NaN     02  02000
221  030007       岩手県       NaN     ｲﾜﾃｹﾝ       NaN     03  03000
255  040002       宮城県       NaN    ﾐﾔｷﾞｹﾝ       NaN     04  04000
291  050008       秋田県       NaN     ｱｷﾀｹﾝ       NaN     05  05000

In [11]:
print(df_pref.tail())

       団体コード 都道府県名（漢字） 市区町村名（漢字） 都道府県名（カナ） 市区町村名（カナ） code_2 code_5
1610  430005       熊本県       NaN    ｸﾏﾓﾄｹﾝ       NaN     43  43000
1656  440001       大分県       NaN    ｵｵｲﾀｹﾝ       NaN     44  44000
1675  450006       宮崎県       NaN   ﾐﾔｻﾞｷｹﾝ       NaN     45  45000
1702  460001      鹿児島県       NaN   ｶｺﾞｼﾏｹﾝ       NaN     46  46000
1746  470007       沖縄県       NaN    ｵｷﾅﾜｹﾝ       NaN     47  47000

In [12]:
print(df_pref.shape)

(47, 7)

In [13]:
df_city = df.dropna()

In [14]:
print(df_city.head())

    団体コード 都道府県名（漢字） 市区町村名（漢字） 都道府県名（カナ） 市区町村名（カナ） code_2 code_5
1  011002       北海道       札幌市   ﾎｯｶｲﾄﾞｳ    ｻｯﾎﾟﾛｼ     01  01100
2  012025       北海道       函館市   ﾎｯｶｲﾄﾞｳ    ﾊｺﾀﾞﾃｼ     01  01202
3  012033       北海道       小樽市   ﾎｯｶｲﾄﾞｳ      ｵﾀﾙｼ     01  01203
4  012041       北海道       旭川市   ﾎｯｶｲﾄﾞｳ    ｱｻﾋｶﾜｼ     01  01204
5  012050       北海道       室蘭市   ﾎｯｶｲﾄﾞｳ     ﾑﾛﾗﾝｼ     01  01205

In [15]:
print(df_city.shape)

(1741, 7)

In [16]:
df_city_designated = pd.read_excel('http://www.soumu.go.jp/main_content/000442937.xls',
                                   header=None, sheet_name=1, dtype=object)

In [17]:
print(df_city_designated.head())

        0       1            2
0  011002     札幌市        さっぽろし
1  011011  札幌市中央区  さっぽろしちゅうおうく
2  011029   札幌市北区     さっぽろしきたく
3  011037   札幌市東区    さっぽろしひがしく
4  011045  札幌市白石区   さっぽろししろいしく

In [18]:
print(df_city_designated.shape)

(195, 3)

In [19]:
df_city_designated.columns = ['団体コード', '市区町村名（漢字）', '市区町村名（かな）']

In [20]:
print(df_city_designated.head())

    団体コード 市区町村名（漢字）    市区町村名（かな）
0  011002       札幌市        さっぽろし
1  011011    札幌市中央区  さっぽろしちゅうおうく
2  011029     札幌市北区     さっぽろしきたく
3  011037     札幌市東区    さっぽろしひがしく
4  011045    札幌市白石区   さっぽろししろいしく

In [21]:
s_city_code = df_city.set_index('code_5')['市区町村名（漢字）']

In [22]:
print(s_city_code.head())

code_5
01100    札幌市
01202    函館市
01203    小樽市
01204    旭川市
01205    室蘭市
Name: 市区町村名（漢字）, dtype: object

In [23]:
print(s_city_code['15100'])

新潟市

In [24]:
# print(s_city_code['15200'])
# KeyError: '15200'

In [25]:
d_city_code = s_city_code.to_dict()

In [26]:
print(type(d_city_code))

<class 'dict'>

In [27]:
print(d_city_code['15100'])

新潟市

In [28]:
# print(d_city_code['15200'])
# KeyError: '15200'

In [29]:
print(d_city_code.get('15100'))

新潟市

In [30]:
print(d_city_code.get('15200'))

None

In [31]:
s_city_name = df_city.set_index('市区町村名（漢字）')['code_5']

In [32]:
print(s_city_name['新潟市'])

15100