In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/src/sample_pandas_normal.csv')
print(df)

      name  age state  point
0    Alice   24    NY     64
1      Bob   42    CA     92
2  Charlie   18    CA     70
3     Dave   68    TX     70
4    Ellen   24    CA     88
5    Frank   30    NY     57

In [3]:
u = df['state'].unique()
print(u)
print(type(u))

['NY' 'CA' 'TX']
<class 'numpy.ndarray'>

In [4]:
vc = df['state'].value_counts()
print(vc)
print(type(vc))

CA    3
NY    2
TX    1
Name: state, dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
vc_f = df['state'].value_counts(sort=False)
print(vc_f)

TX    1
CA    3
NY    2
Name: state, dtype: int64

In [6]:
print(len(u))

3

In [7]:
print(len(vc))

3

In [8]:
print(vc.count())

3

In [9]:
print(u.tolist())
print(type(u.tolist()))

['NY', 'CA', 'TX']
<class 'list'>

In [10]:
print(vc.index.tolist())
print(type(vc.index.tolist()))

['CA', 'NY', 'TX']
<class 'list'>

In [11]:
print(vc.index.values)
print(type(vc.index.values))

['CA' 'NY' 'TX']
<class 'numpy.ndarray'>

In [12]:
print(vc['NY'])

2

In [13]:
print(vc.NY)

2

In [14]:
for index, value in vc.iteritems():
    print(index, ': ', value)

CA :  3
NY :  2
TX :  1

In [15]:
d = vc.to_dict()
print(d)
print(type(d))

{'CA': 3, 'NY': 2, 'TX': 1}
<class 'dict'>

In [16]:
print(d['NY'])

2

In [17]:
for key, value in d.items():
    print(key, ': ', value)

CA :  3
NY :  2
TX :  1

In [18]:
vc_norm = df['state'].value_counts(normalize=True)
print(vc_norm)

CA    0.500000
NY    0.333333
TX    0.166667
Name: state, dtype: float64