In [1]:
import pandas as pd

In [2]:
s = '2018-01-01T12:00+09:00'

In [3]:
print(s)

2018-01-01T12:00+09:00

In [4]:
print(type(s))

<class 'str'>

In [5]:
ts = pd.to_datetime(s)

In [6]:
print(ts)

2018-01-01 03:00:00

In [7]:
print(type(ts))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [8]:
print(ts.tz)

None

In [9]:
ts_utc = pd.to_datetime(s, utc=True)

In [10]:
print(ts_utc)

2018-01-01 03:00:00+00:00

In [11]:
print(ts_utc.tz)

UTC

In [12]:
ts_jst = ts_utc.tz_convert('Asia/Tokyo')

In [13]:
print(ts_jst)

2018-01-01 12:00:00+09:00

In [14]:
print(ts_jst.tz)

Asia/Tokyo

In [15]:
print(ts_utc.value)

1514775600000000000

In [16]:
print(ts_jst.value)

1514775600000000000

In [17]:
print(ts_utc == ts_jst)

True

In [18]:
ts_pst = ts_utc.tz_convert('US/Pacific')

In [19]:
print(ts_pst)

2017-12-31 19:00:00-08:00

In [20]:
print(ts_pst.tz)

US/Pacific

In [21]:
print(ts_utc.tz_convert('America/Los_Angeles'))

2017-12-31 19:00:00-08:00

In [22]:
print(ts)

2018-01-01 03:00:00

In [23]:
print(ts.tz)

None

In [24]:
# print(ts.tz_convert('Asia/Tokyo'))
# TypeError: Cannot convert tz-naive Timestamp, use tz_localize to localize

In [25]:
ts_jst_localize = ts.tz_localize('Asia/Tokyo')

In [26]:
print(ts_jst_localize)

2018-01-01 03:00:00+09:00

In [27]:
print(ts_jst_localize.tz)

Asia/Tokyo

In [28]:
print(ts.tz_localize('US/Pacific'))

2018-01-01 03:00:00-08:00

In [29]:
print(ts.tz_localize('Asia/Tokyo').value == ts.tz_localize('US/Pacific').value)

False

In [30]:
print(ts_jst)

2018-01-01 12:00:00+09:00

In [31]:
# ts_jst.tz_localize('US/Pacific')
# TypeError: Cannot localize tz-aware Timestamp, use tz_convert for conversions

In [32]:
print(ts_jst)

2018-01-01 12:00:00+09:00

In [33]:
print(ts_jst.tz)

Asia/Tokyo

In [34]:
print(ts_jst.tz_convert(None))

2018-01-01 03:00:00

In [35]:
print(ts_jst.tz_localize(None))

2018-01-01 12:00:00

In [36]:
df = pd.DataFrame({'date': ['2018-01-01T12:00+09:00',
                            '2018-01-02T00:00+09:00',
                            '2018-01-03T10:00-05:00',
                            '2018-01-03T19:00-08:00'],
                   'value': [0, 1, 2, 3]})

In [37]:
print(df)

                     date  value
0  2018-01-01T12:00+09:00      0
1  2018-01-02T00:00+09:00      1
2  2018-01-03T10:00-05:00      2
3  2018-01-03T19:00-08:00      3

In [38]:
print(pd.to_datetime(df['date']))

0   2018-01-01 03:00:00
1   2018-01-01 15:00:00
2   2018-01-03 15:00:00
3   2018-01-04 03:00:00
Name: date, dtype: datetime64[ns]

In [39]:
print(pd.to_datetime(df['date'], utc=True))

0   2018-01-01 03:00:00+00:00
1   2018-01-01 15:00:00+00:00
2   2018-01-03 15:00:00+00:00
3   2018-01-04 03:00:00+00:00
Name: date, dtype: datetime64[ns, UTC]

In [40]:
# print(pd.to_datetime(df['date'], utc=True).tz_convert('Asia/Tokyo'))
# TypeError: index is not a valid DatetimeIndex or PeriodIndex

In [41]:
df_ts = df.set_index('date')

In [42]:
print(df_ts)

                        value
date
2018-01-01T12:00+09:00      0
2018-01-02T00:00+09:00      1
2018-01-03T10:00-05:00      2
2018-01-03T19:00-08:00      3

In [43]:
print(df_ts.index)

Index(['2018-01-01T12:00+09:00', '2018-01-02T00:00+09:00',
       '2018-01-03T10:00-05:00', '2018-01-03T19:00-08:00'],
      dtype='object', name='date')

In [44]:
print(pd.to_datetime(df_ts.index, utc=True))

DatetimeIndex(['2018-01-01 03:00:00+00:00', '2018-01-01 15:00:00+00:00',
               '2018-01-03 15:00:00+00:00', '2018-01-04 03:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='date', freq=None)

In [45]:
print(pd.to_datetime(df_ts.index, utc=True).tz_convert('Asia/Tokyo'))

DatetimeIndex(['2018-01-01 12:00:00+09:00', '2018-01-02 00:00:00+09:00',
               '2018-01-04 00:00:00+09:00', '2018-01-04 12:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', name='date', freq=None)

In [46]:
print(pd.to_datetime(df_ts.index, utc=True).tz_convert('Asia/Tokyo').tz_localize(None))

DatetimeIndex(['2018-01-01 12:00:00', '2018-01-02 00:00:00',
               '2018-01-04 00:00:00', '2018-01-04 12:00:00'],
              dtype='datetime64[ns]', name='date', freq=None)

In [47]:
df_ts.index = pd.to_datetime(df_ts.index, utc=True).tz_convert('Asia/Tokyo').tz_localize(None)

In [48]:
print(df_ts)

                     value
date
2018-01-01 12:00:00      0
2018-01-02 00:00:00      1
2018-01-04 00:00:00      2
2018-01-04 12:00:00      3

In [49]:
print(df_ts.index)

DatetimeIndex(['2018-01-01 12:00:00', '2018-01-02 00:00:00',
               '2018-01-04 00:00:00', '2018-01-04 12:00:00'],
              dtype='datetime64[ns]', name='date', freq=None)

In [50]:
print(df_ts['2018-01-04'])

                     value
date
2018-01-04 00:00:00      2
2018-01-04 12:00:00      3