In [1]:
import pandas_datareader.data as web
import datetime

start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2015, 12, 31)
f = web.DataReader('SNE', 'yahoo', start, end)
print(f)

                 Open       High        Low      Close  Adj Close   Volume
Date
2009-12-31  29.330000  29.400000  29.000000  29.000000  29.000000   842600
2010-01-04  29.520000  30.180000  29.500000  30.020000  30.020000   988800
2010-01-05  29.719999  29.930000  29.500000  29.879999  29.879999   567800
2010-01-06  29.879999  29.950001  29.660000  29.850000  29.850000   468200
2010-01-07  29.740000  29.870001  29.590000  29.799999  29.799999   645300
2010-01-08  30.040001  30.469999  29.930000  30.410000  30.410000   574100
2010-01-11  30.719999  30.750000  30.389999  30.600000  30.600000   603200
2010-01-12  31.469999  31.700001  31.450001  31.570000  31.570000  1161000
2010-01-13  32.779999  33.299999  32.630001  33.160000  33.160000  2303000
2010-01-14  33.590000  34.099998  33.400002  33.730000  33.730000  1267200
2010-01-15  33.540001  33.610001  33.070000  33.340000  33.340000   985400
2010-01-19  33.590000  34.110001  33.490002  33.990002  33.990002   615300
2010-01-20  33.509998  33.520000  32.980000  33.250000  33.250000  1035800
2010-01-21  34.750000  34.950001  34.060001  34.360001  34.360001  1574600
2010-01-22  34.669998  34.849998  34.119999  34.180000  34.180000  1625600
2010-01-25  34.880001  34.990002  34.450001  34.799999  34.799999   971400
2010-01-26  33.740002  33.939999  33.349998  33.500000  33.500000  1214700
2010-01-27  33.000000  33.439999  32.660000  33.240002  33.240002  1413700
2010-01-28  34.310001  34.400002  33.549999  33.799999  33.799999  1174000
2010-01-29  33.470001  33.889999  33.209999  33.230000  33.230000   936300
2010-02-01  34.000000  34.320000  33.950001  34.209999  34.209999  1291700
2010-02-02  34.759998  35.590000  34.750000  35.410000  35.410000  1404300
2010-02-03  34.750000  34.990002  34.419998  34.939999  34.939999   983400
2010-02-04  34.540001  35.500000  33.520000  34.480000  34.480000  1718400
2010-02-05  34.340000  34.549999  33.389999  34.259998  34.259998  1589400
2010-02-08  33.380001  33.380001  32.939999  33.009998  33.009998   746400
2010-02-09  33.400002  33.930000  33.330002  33.770000  33.770000   813600
2010-02-10  33.930000  34.119999  33.470001  33.810001  33.810001   619000
2010-02-11  33.880001  34.070000  33.560001  34.060001  34.060001   626900
2010-02-12  33.869999  34.110001  33.509998  34.060001  34.060001   940800
...               ...        ...        ...        ...        ...      ...
2015-11-18  26.840000  27.020000  26.760000  26.990000  26.990000   935100
2015-11-19  26.900000  27.030001  26.799999  26.860001  26.860001   567400
2015-11-20  26.910000  27.010000  26.820000  26.889999  26.889999   520100
2015-11-23  26.799999  27.040001  26.750000  26.790001  26.790001   645500
2015-11-24  26.860001  27.040001  26.670000  26.959999  26.959999   673700
2015-11-25  26.469999  26.580000  26.459999  26.510000  26.510000   626200
2015-11-27  26.570000  26.740000  26.459999  26.490000  26.490000   212100
2015-11-30  25.950001  26.040001  25.830000  25.920000  25.920000   882400
2015-12-01  26.200001  26.360001  26.150000  26.200001  26.200001   603100
2015-12-02  25.690001  25.700001  25.330000  25.400000  25.400000  2038500
2015-12-03  25.629999  25.740000  25.180000  25.250000  25.250000  1750700
2015-12-04  25.110001  25.410000  25.070000  25.389999  25.389999  1432100
2015-12-07  25.379999  25.430000  25.150000  25.299999  25.299999   478700
2015-12-08  24.879999  24.969999  24.670000  24.799999  24.799999  1280100
2015-12-09  24.670000  24.680000  24.170000  24.360001  24.360001  1375500
2015-12-10  24.740000  24.820000  24.580000  24.629999  24.629999   936500
2015-12-11  24.500000  24.580000  24.240000  24.340000  24.340000  1308200
2015-12-14  24.480000  24.770000  24.280001  24.650000  24.650000  1903000
2015-12-15  24.620001  24.770000  24.320000  24.500000  24.500000  1972200
2015-12-16  24.850000  25.290001  24.770000  25.240000  25.240000  2199300
2015-12-17  25.320000  25.490000  25.120001  25.129999  25.129999   981400
2015-12-18  24.590000  24.690001  24.440001  24.440001  24.440001  1159500
2015-12-21  24.290001  24.420000  23.969999  24.350000  24.350000  1472100
2015-12-22  24.059999  24.370001  24.000000  24.299999  24.299999   989500
2015-12-23  24.490000  24.719999  24.420000  24.620001  24.620001  1130200
2015-12-24  24.580000  24.780001  24.570000  24.700001  24.700001   467400
2015-12-28  24.709999  24.790001  24.530001  24.670000  24.670000   590100
2015-12-29  24.860001  24.900000  24.680000  24.830000  24.830000   657600
2015-12-30  24.780001  24.900000  24.700001  24.719999  24.719999   344900
2015-12-31  24.670000  24.770000  24.510000  24.610001  24.610001   688900

[1511 rows x 6 columns]

In [2]:
f = web.DataReader(['SNE', 'AAPL'], 'yahoo', start, end)
print(f['Adj Close'])

                  AAPL        SNE
Date
2015-12-31  101.703697  24.610001
2015-12-30  103.694107  24.719999
2015-12-29  105.066116  24.830000
2015-12-28  103.210999  24.670000
2015-12-24  104.380112  24.700001
2015-12-23  104.940506  24.620001
2015-12-22  103.607155  24.299999
2015-12-21  103.703766  24.350000
2015-12-18  102.447670  24.440001
2015-12-17  105.298019  25.129999
2015-12-16  107.578270  25.240000
2015-12-15  106.756989  24.500000
2015-12-14  108.679771  24.650000
2015-12-11  109.356125  24.340000
2015-12-10  112.245087  24.629999
2015-12-09  111.713676  24.360001
2015-12-08  114.235489  24.799999
2015-12-07  114.283798  25.299999
2015-12-04  115.008461  25.389999
2015-12-03  111.307861  25.250000
2015-12-02  112.351372  25.400000
2015-12-01  113.375557  26.200001
2015-11-30  114.303123  25.920000
2015-11-27  113.829681  26.490000
2015-11-25  114.042252  26.510000
2015-11-24  114.863525  26.959999
2015-11-23  113.771706  26.790001
2015-11-20  115.269348  26.889999
2015-11-19  114.766914  26.860001
2015-11-18  113.327248  26.990000
...                ...        ...
2010-02-12   25.753294  34.060001
2010-02-11   25.533520  34.060001
2010-02-10   25.077271  33.810001
2010-02-09   25.214790  33.770000
2010-02-08   24.948748  33.009998
2010-02-05   25.120964  34.259998
2010-02-04   24.682707  34.480000
2010-02-03   25.605494  34.939999
2010-02-02   25.172379  35.410000
2010-02-01   25.027143  34.209999
2010-01-29   24.683992  33.230000
2010-01-28   25.613209  33.799999
2010-01-27   26.717218  33.240002
2010-01-26   26.467880  33.500000
2010-01-25   26.099028  34.799999
2010-01-22   25.415281  34.180000
2010-01-21   26.741631  34.360001
2010-01-20   27.212029  33.250000
2010-01-19   27.637430  33.990002
2010-01-15   26.466595  33.340000
2010-01-14   26.916422  33.730000
2010-01-13   27.073221  33.160000
2010-01-12   26.696650  31.570000
2010-01-11   27.003820  30.600000
2010-01-08   27.244156  30.410000
2010-01-07   27.064222  29.799999
2010-01-06   27.114347  29.850000
2010-01-05   27.552608  29.879999
2010-01-04   27.505054  30.020000
2009-12-31   27.083506  29.000000

[1511 rows x 2 columns]

In [3]:
print(f)

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1511 (major_axis) x 2 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2015-12-31 00:00:00 to 2009-12-31 00:00:00
Minor_axis axis: AAPL to SNE

In [4]:
import matplotlib.pyplot as plt

f['Adj Close']['SNE'] /= f['Adj Close']['SNE'][-1]
f['Adj Close']['AAPL'] /= f['Adj Close']['AAPL'][-1]
f['Adj Close'].plot(title='SNE vs AAPL', grid=True)
# plt.show()
plt.savefig('data/dst/pandas_datareader_yahoo.png')

![pandas_datareader_yahoo.png](data/dst/pandas_datareader_yahoo.png)

In [5]:
from pandas_datareader import wb

f = wb.download(indicator='SP.POP.TOTL', country=['JP', 'US'],
                start=1960, end=2014)
print(f)

                    SP.POP.TOTL
country       year
Japan         2014    127276000
              2013    127445000
              2012    127629000
              2011    127833000
              2010    128070000
              2009    128047000
              2008    128063000
              2007    128001000
              2006    127854000
              2005    127773000
              2004    127761000
              2003    127718000
              2002    127445000
              2001    127149000
              2000    126843000
              1999    126631000
              1998    126400000
              1997    126057000
              1996    125757000
              1995    125439000
              1994    124961000
              1993    124536000
              1992    124229000
              1991    123921000
              1990    123537000
              1989    123116000
              1988    122613000
              1987    122091000
              1986    121492000
              1985    120754000
...                         ...
United States 1989    246819000
              1988    244499000
              1987    242289000
              1986    240133000
              1985    237924000
              1984    235825000
              1983    233792000
              1982    231664000
              1981    229466000
              1980    227225000
              1979    225055000
              1978    222585000
              1977    220239000
              1976    218035000
              1975    215973000
              1974    213854000
              1973    211909000
              1972    209896000
              1971    207661000
              1970    205052000
              1969    202677000
              1968    200706000
              1967    198712000
              1966    196560000
              1965    194303000
              1964    191889000
              1963    189242000
              1962    186538000
              1961    183691000
              1960    180671000

[110 rows x 1 columns]

In [6]:
print(wb.search('gdp.*capita.*const').iloc[:,:2])

                        id                                               name
685     6.0.GDPpc_constant  GDP per capita, PPP (constant 2011 internation...
8086        NY.GDP.PCAP.KD                 GDP per capita (constant 2010 US$)
8088        NY.GDP.PCAP.KN                      GDP per capita (constant LCU)
8090     NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2011 internation...
8091  NY.GDP.PCAP.PP.KD.87  GDP per capita, PPP (constant 1987 internation...

In [7]:
f = wb.download(indicator='SP.POP.TOTL', country=['JP', 'US'],
                start=1960, end=2014)
f2 = f.unstack(level=0)
print(f2)

        SP.POP.TOTL
country       Japan United States
year
1960       92500572     180671000
1961       94943000     183691000
1962       95832000     186538000
1963       96812000     189242000
1964       97826000     191889000
1965       98883000     194303000
1966       99790000     196560000
1967      100725000     198712000
1968      101061000     200706000
1969      103172000     202677000
1970      104345000     205052000
1971      105697000     207661000
1972      107188000     209896000
1973      108079000     211909000
1974      110162000     213854000
1975      111940000     215973000
1976      112771000     218035000
1977      113863000     220239000
1978      114898000     222585000
1979      115870000     225055000
1980      116782000     227225000
1981      117648000     229466000
1982      118449000     231664000
1983      119259000     233792000
1984      120018000     235825000
1985      120754000     237924000
1986      121492000     240133000
1987      122091000     242289000
1988      122613000     244499000
1989      123116000     246819000
1990      123537000     249623000
1991      123921000     252981000
1992      124229000     256514000
1993      124536000     259919000
1994      124961000     263126000
1995      125439000     266278000
1996      125757000     269394000
1997      126057000     272657000
1998      126400000     275854000
1999      126631000     279040000
2000      126843000     282162411
2001      127149000     284968955
2002      127445000     287625193
2003      127718000     290107933
2004      127761000     292805298
2005      127773000     295516599
2006      127854000     298379912
2007      128001000     301231207
2008      128063000     304093966
2009      128047000     306771529
2010      128070000     309348193
2011      127833000     311663358
2012      127629000     313998379
2013      127445000     316204908
2014      127276000     318563456

In [8]:
f2.columns = ['Japan', 'United States']
f2.plot(grid=True)
# plt.show()
plt.savefig('data/dst/pandas_datareader_wb.png')

![pandas_datareader_wb.png](data/dst/pandas_datareader_wb.png)